html, body { 
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div { 
    height: 100%; 
    width: 100%; 
}

.large-frame-container {
    width: 1080px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.review-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.review {
    background-color: ghostwhite;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: 270px;
}

.img-container {
    margin: 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sm-rounded-container {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.dining-hall-select {
    width: 30%;
    height: 50%;
}

.dining-hall-select > ul {
    width: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border: 2px solid lightgrey;*/
}

.dining-hall-select > ul > li {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: x-large;
    border: 2px solid lightgrey;
    padding-top: 15px;
    padding-bottom: 15px;
}