body {
    margin: 0;    
}

.nav-bar {
    list-style-type: none;
    background-color: #333333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar > .left {
    float: left;
}

.nav-bar > .right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
