label{
    font-size: 18px;
}

.review-post {
    /*padding-left: 45px;*/
    /*padding-top: 10px;*/
    margin: auto;
    width: 50%;
}

.review-input-box {
    margin-left: 15px;
    /*width: 30%;*/
    border-radius: 10px;
}

.review-select-box {
    margin-left: 15px;
    /*width: 10%;*/
    border-radius: 10px;
}



.submit-button {
    margin: auto;
    width: 50px;
    
}