.user-title-background {
  background-color: beige;
}

.user-title-container {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: center;
  align-items: center;
  /* margin: 0px -10px; */
  margin-right: 30px;
}

.user-info-item {
  width: auto;
  padding: 70px 0;
  text-align: center;
  margin-left: 20px;
}

.button-to-link{
  background: none;
  border: none;
  color: red
}

.button-to-link:hover{
  background: none;
  text-decoration: underline;
}

.edit-user-button {
  margin-left: 1em;
}